.breadcrumb-section {
    padding-top: 140px;
}

.rooms-section {
    padding-top: 0;
    padding-bottom: 80px;
}

.room-item {
    margin-bottom: 30px;
}
.room-item img {
    width: 360px;
    height: 220px;
}
.room-item .ri-text {
    border: 1px solid #ebebeb;
    border-top: none;
    padding: 24px 24px 30px 28px;
}
.room-item .ri-text h3 {
    color: #dfa974;
    font-weight: 700;
    margin-bottom: 14px;
}
.room-item .ri-text .primary-btn {
    color: #19191a;
}

.room-pagination {
    text-align: center;
    padding-top: 20px;
}
.room-pagination a {
    font-size: 16px;
    color: #707079;
    border: 1px solid #EFD4B9;
    border-radius: 2px;
    padding: 7px 13px 5px;
    margin-right: 7px;
    display: inline-block;
    transition: all 0.3s;
}
.room-pagination a:last-child {
    margin-right: 0;
}
.room-pagination a:hover {
    background: #dfa974;
    color: #ffffff;
}




.container .modal .modal-body .icon_close {
    float: right;
    position: relative;
    bottom: 8px;
    left: 5px;
}