* {
    box-sizing: border-box;
}


body {
    margin: 0;
}


.menu-item {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 998; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
    color: #ffffff; 
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.menu-item.scrolled {
    background-color: #ffffff;
    box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}

.menu-item .logo {
    position: fixed;
    top: -15px;
    left: 90px;
    z-index: 1000;
}
.menu-item .logo a {
    display: inline-block;
}
.menu-item .logo a img {
    width: 100px;
    height: auto;
}

.menu-item .nav-menu {
    text-align: right;
    position: relative;
}
.menu-item .nav-menu .mainmenu {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    /* right: 403px; */
    right: 200px;
    top: -5px;
}
.menu-item .nav-menu .mainmenu li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0;
    z-index: 1;
    margin-bottom: 15px;
}
.menu-item .nav-menu .mainmenu li a {
    font-size: 16px;
    color: #ffffff;
    margin-right: 42px;
    font-weight: 500;
    display: inline-block; 
    padding: 27px 0;
    position: relative;
    transition: all 0.3s;
    font-weight: lighter;
}
.menu-item.scrolled .nav-menu .mainmenu li a {
    color: #19191a;
}
.menu-item .nav-menu .mainmenu li.active a:after {
    opacity: 1;
}
.menu-item .nav-menu .mainmenu li a:after {
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    height: 2px;
    background: #dfa974;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li:hover > a:after {
    opacity: 1;
}
.menu-item .nav-menu .mainmenu li .dropdown {
    position: absolute;
    left: 0; 
    top: 70px;
    width: 180px; 
    background: #ffffff; 
    z-index: 9; 
    opacity: 0; 
    visibility: hidden; 
    transition: all 0.3s; 
    box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
    padding: 10px 0;
    margin-top: 0;
}
.menu-item .nav-menu .mainmenu li:hover .dropdown {
    top: -5px;
    opacity: 1;
    visibility: visible;
}
.menu-item .nav-menu .mainmenu li .dropdown li {
    list-style: none;
    display: block;
}
.menu-item .nav-menu .mainmenu li .dropdown li a {
    font-size: 16px;
    color: #19191a;
    display: block;
    text-align: left;
    padding: 8px 15px;
    transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
    color: #dfa974;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:after {
    display: none;
}

.menu-item .nav-menu .nav-right {
    display: inline-block;
    margin-left: 43px;
    padding: 27px 0px;
}
.menu-item .nav-menu .nav-right .guest {
    position: relative;
    left: 40px;
    /* font-size: 16px; */
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s ease;
}
.menu-item.scrolled .nav-menu .nav-right i {
    color: #19191a;
}
.menu-item .nav-menu .nav-right a:hover i {
    transform: scale(1.5);
    transition: 0.5s ease;
}

.menu-item.visible-on-white {
    position: fixed;
    width: 100%;
    z-index: 998;
    transition: background-color 0.3s ease;
    color: #19191a;
    background-color: #ffffff;
    box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}
.menu-item.visible-on-white .nav-menu .nav-right i {
    color: #19191a;
}
.menu-item.visible-on-white .nav-menu .mainmenu li a {
    color: #19191a;
}    

.nav-menu .search-switch {
    position: absolute;
    top: 2px;
    left: 839px;
}
.nav-menu.dropdown-present .search-switch {
    top: 17px;
}

.nav-menu .nav-right .profile-user {
    display: inline-block;
    margin-left: 30px;
    padding: 13px 0px 11px;
    position: relative;
    left: 50px;
    top: 2px;
    color: #19191a;
    cursor: pointer;
    /* background-color: green; */
}
.nav-menu .nav-right .profile-user span {
    float: right;
    /* position: relative;
    top: 2px;
    left: 50px; */
    /* background-color: red; */
    color: #dfa974;
    cursor: pointer;
    width: auto;
    max-width: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-menu .nav-right .profile-user .user-dropdown {
    position: absolute;
    right: -5px;
    top: 10px;
    width: 150px;
    height: 108px;
    background: #ffffff;
    display: block;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    margin-top: 25px;
    padding-right: 130px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
}
.nav-menu .nav-right .profile-user:hover .user-dropdown {
    top: 40px;
    opacity: 1;
    visibility: visible;
}
.nav-menu .nav-right .profile-user .user-dropdown .bridge {
    height: 30px;
    width: 60px;
    background-color: transparent;
    /* background-color: aqua; */
    position: absolute;
    left: 90px;
    top: -20px;
    cursor: default;
}
.nav-menu .nav-right .profile-user .user-dropdown ul {
    cursor: pointer !important;
}
.nav-menu .nav-right .profile-user .user-dropdown ul li {
    list-style: none;
    display: flex;
    margin-bottom: 8px;
    padding-left: 10px;
    width: 125px;
    height: 38px;
    position: relative;
}
.nav-menu .nav-right .profile-user .user-dropdown ul li:hover {
    position: relative;
}
.nav-menu .nav-right .profile-user .user-dropdown ul li:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    right: -2px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.027);
    border-radius: 5px;
    z-index: 0;
}
.nav-menu .nav-right .profile-user .user-dropdown ul li i {
    padding-top: 11px;
    color: black;
}
.nav-menu .nav-right .profile-user .user-dropdown ul li a {
    position: relative;
    z-index: 1;
    color: #19191a;
    text-decoration: none;
    padding-top: 8px;
    margin-bottom: 16px;
    padding-left: 20px;
    letter-spacing: 1px;
}
.nav-menu .nav-right .profile-user .user-dropdown .horizontal-line-dropdown {
    position: absolute;
    right: 16px;
    bottom: 53px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 115px;
}
