.breadcrumb-section {
	padding-top: 120px;
	/* padding-bottom: 80px; */
}
.breadcrumb-text {
	text-align: center;
}
.breadcrumb-text img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.breadcrumb-text h2 {
	font-size: 44px;
	color: #dfa974;
    /* color: #19191a; */
	margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.breadcrumb-text .bt-option span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}


.bt-option button {
    position: relative;
    display: block; 
    font-size: 14px;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    border: 1px solid #dfa974;
    color: #dfa974;
    background-color: #ffffff;
    width: 100%;
    max-width: 100px;
    height: 40px;
    margin: 30px auto;
    cursor: not-allowed;
    transition: background 0.3s, color 0.3s;
}


.modal .modal-dialog {
    position: fixed;
    padding-left: 315px;
}

.modal .modal-dialog .modal-content {
    border-radius: 7px;
    border: none;
    box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    min-width: 750px;
    height: 570px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.modal .modal-dialog .modal-content .form-left .form-group-img {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 50px;
}
.modal .modal-dialog .modal-content .form-left .form-group-img img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 50%;
}
.modal .modal-dialog .modal-content .form-left .form-group-img input[type="file"] {
    display: none;
}


.modal .modal-dialog .modal-content .form-left .form-group-label label {
    border: 1px dashed #19191a6e;
    background-color: #19191a2a;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 225px;
    height: 225px;
    position: relative;
    bottom: 175px;
    left: 50px;
    /* right: 192px; */
}
.modal .modal-dialog .modal-content .form-left .form-group-label label:hover {
    background-color: #19191a6e;
}
.modal .modal-dialog .modal-content .form-left .form-group-label label i {
    display: inline-block;
    color: #19191a96;
    font-size: 20px;
    position: relative;
    top: 105px;
}
.modal .modal-dialog .modal-content .form-left .form-group-label .preview-container {
    display: none;
    position: relative;
    bottom: 175px;
    left: 50px;
}
.modal .modal-dialog .modal-content .form-left .form-group-label #preview-image {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
}
.modal .modal-dialog .modal-content .form-left .form-group-label #preview-image:hover {
    background-color: #19191a6e;
    cursor: pointer;
}


.modal .modal-dialog .modal-content .form-right .form-group {
    display: flex;
    position: relative;
    bottom: 410px;
    left: 340px;
    gap: -10px;
}
.modal .modal-dialog .modal-content .form-right .form-group label {
    font-size: 14px;
    color: #19191a6e;
    /* font-weight: 500; */
    margin-bottom: 10px;
    width: 50px;
}
.modal .modal-dialog .modal-content .form-right .form-group .form-control {
    border: none;
    /* border-bottom: 1px solid #dfa974; */
    background-color: #19191a0a;
    border-radius: 5px;
    width: 270px;
    height: 35px;
    position: relative;
    top: 5px;
    left: 30px;
    margin-bottom: 20px;
    /* background-color: transparent; */
}
.modal .modal-dialog .modal-content .form-right .form-group .form-control:focus {
    border: 1px solid #222736;
    box-shadow: none;
}
.modal .modal-dialog .modal-content .form-right .form-group .radio-group {
    position: relative;
    top: 10px;
    left: 35px;
    margin-right: 110px;
}
.modal .modal-dialog .modal-content form button {
    position: relative;
    bottom: 500px;
    left: 75px;
    background-color: #ffffff;
    border: 1px solid rgba(16, 20, 31, 0.89);
    opacity: 75%;
    color: rgba(16, 20, 31, 0.89);
    padding: 7px 56px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}
.modal .modal-dialog .modal-content form button:hover {
    background-color: rgba(16, 20, 31, 0.89);
    color: #ffffff;
    border: 1px solid rgba(16, 20, 31, 0.89);
    opacity: 100%;
}




.horizontal-line {
    position: relative;
    left: 95px;
    /* bottom: 33px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 86%;
    margin-bottom: 180px;
}



.table-custom {
    border: 2px solid #dfa974;
    border-radius: 10px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    position: relative;
    bottom: 115px;
}
.thead-custom {
    background-color: #222736;
    color: #ffffff;
}
.table tbody tr:hover {
    background-color: #22273615; /* Warna latar saat hover */
}
.table-custom th, .table-custom td {
    padding: 15px;
    text-align: center;
    border-color: #dfa974;
}
