.breadcrumb-section {
	padding-top: 140px;
	/* padding-bottom: 80px; */
}
.breadcrumb-text {
	text-align: center;
}
.breadcrumb-text h2 {
	font-size: 44px;
	color: #dfa974;
    /* color: #19191a; */
	margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.breadcrumb-text .bt-option span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}


.bt-option button {
    position: relative;
    display: block; 
    font-size: 14px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 500;
    /* background-color: rgba(16, 20, 31, 0.89); */
    background-color: rgba(0, 0, 0, 0.068);
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 100px;
    height: 40px;
    margin: 30px auto;
    cursor: not-allowed;
    transition: background 0.3s, color 0.3s;
}


.modal .modal-dialog .modal-content {
    border-radius: 7px;
}
.modal .modal-dialog .modal-content .profile-title {
    color: rgba(16, 20, 31, 0.89);
    font-size: 22.5px;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 25px;
}
.modal .modal-dialog .modal-content .btn-close {
    /* background-color: rgba(0, 0, 0, 0.068); */
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
    font-size: 22.5px;
    border: none;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    position: relative;
    left: 90%;
    bottom: 40px;
    /* top: -37.5px */
}
.modal .modal-dialog .modal-content .btn-close i {
    position: relative;
    bottom: 1.5px;
    right: 3.5px;
}
.modal .modal-dialog .modal-content .btn-close:hover {
    background-color: rgba(0, 0, 0, 0.068);
}
.modal .modal-dialog .modal-content .modal-body p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal .modal-dialog .modal-content .viewEditProfileButton {
    position: relative;
    display: block; 
    font-size: 14px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 500;
    /* background-color: rgba(16, 20, 31, 0.89); */
    background-color: rgba(0, 0, 0, 0.068);
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 100px;
    height: 40px;
    margin: 30px auto;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}


.horizontal-line {
    position: relative;
    left: 65px;
    bottom: 53px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 90%;
}