.room-booking {
    /* padding: 0 0 0 70px; */
	padding: 40px 40px 40px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 50px;
    /* border-radius: 10px; */
}
.room-booking h3 {
	color: #19191a;
	margin-bottom: 30px;
    text-align: center;
}
.room-booking form .check-date {
	position: relative;
	margin-bottom: 15px;
}
.room-booking form .check-date label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking form .check-date input {
	width: 100%;
	height: 45px;
	border: 1px solid #19191a38;
	border-radius: 0 8px 8px 0; /* Sudut kanan atas dan bawah membulat */
	font-size: 16px;
	color: #19191a;
	padding-left: 50px;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.room-booking form .check-date input:focus {
    border: 2px solid #222736; 
}
.room-booking form .check-date i {
	color: #2227361e;
	position: absolute;
	left: 18px;
	bottom: 10px;
}
.room-booking form .select-option {
	margin-bottom: 15px;
}
.room-booking form .select-option label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking form .select-option input[type="number"] {
	border-radius: 7px;
    border: 1px solid #19191a38;
	border-radius: 0 8px 8px 0; /* Sudut kanan atas dan bawah membulat */
	height: 40px;
	padding-left: 50px;
    padding-right: 10px;
	width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.room-booking form .select-option input[type="number"]:focus {
    border: 2px solid #222736;
}
.room-booking form .select-option i {
	color: #2227361e;
	position: absolute;
	left: 57px;
	top: 330px;
}
.room-booking form .tamu-option {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.room-booking form .tamu-option label {
    font-size: 14px;
    color: #707079;
    display: block;
    margin-bottom: 10px;
}
.room-booking form .tamu-option .group input[type="number"] {
    border-radius: 7px;
    border: 1px solid #19191a38;
	height: 40px;
	padding-left: 20px;
    padding-right: 10px;
	width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.room-booking form .tamu-option .group input[type="number"]:focus {
    border: 2px solid #222736;
}
.room-booking form .note {
	position: relative;
	margin-bottom: 15px;
}
.room-booking form .note label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking form .note textarea {
	width: 100%;
	height: 75px;
	border: 1px solid #19191a38;
	border-radius: 0 8px 8px 0; /* Sudut kanan atas dan bawah membulat */
	font-size: 16px;
	color: #19191a;
	padding-left: 50px;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.room-booking form .note textarea:focus {
    border: 2px solid #222736; 
}
.room-booking form .note i {
	color: #2227361e;
	position: absolute;
	left: 18px;
	bottom: 30px;
}
.room-booking form button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	/* border: 1px solid #222736; */
    border: none;
    background-color: #222736;
	border-radius: 50px;
	color: #ffffff;
	font-weight: 500;
	/* background: transparent; */
	width: 100%;
	height: 46px;
	margin-top: 30px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;  /* Secara default popup tersembunyi */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.bukti {
    background: white;
    padding: 20px;
    max-width: 450px;
    width: 100%;
    height: 250px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

#ketersediaanKamar .circle-1 {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e424370e;
    position: relative;
    top: 10px;
    left: 170px;
}
#ketersediaanKamar .circle-2 {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e424372d;
}
#ketersediaanKamar i {
    font-size: 30px;
    color: #e42437;
    position: relative;
    left: 10px;
    top: 5px;
}
#ketersediaanKamar h1 {
    color: #19191a;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-left: 90px;
}
#ketersediaanKamar p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 10px;
}


#kapasitasKamar .circle-1 {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e424370e;
    position: relative;
    top: 10px;
    left: 170px;
}
#kapasitasKamar .circle-2 {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e424372d;
}
#kapasitasKamar i {
    font-size: 30px;
    color: #e42437;
    position: relative;
    left: 10px;
    top: 5px;
}
#kapasitasKamar h1 {
    color: #19191a;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-left: 63px;
}
#kapasitasKamar p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 10px;
}



.back-button {
    position: fixed;
    top: 100px;
    left: 30px;
    z-index: 999;
}
.btn-back {
    background-color: #ffffff;
    color: #19191a;
    padding: 10px 15px;
    border-radius: 50% ;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
    transition: background-color 0.3s ease;
}
/* .btn-back:hover {
    background-color: #c97a5b;
} */




.rd-reviews .rating form .form-group textarea {
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 0px;
}
.rd-reviews .rating form .form-group textarea:focus {
    border: 1px solid #19191a2c;
    border-radius: 0px;
    box-shadow: none;
}
.rd-reviews .rating form .form-group textarea::placeholder {
    color: #19191a69;
    /* padding-top: 10px; */
    /* padding-left: 7px; */
}   